body{
    padding: 0;
    margin: 0;
    background-image: url(backcoba.gif);
}

h1{
    font-family: sans-serif;
    background: pink;
    text-align: center;
    color: rgb(233, 24, 24);
    padding: 20px 0 20px 0;

}
#background{
    width: 600px;
    height: 752px;
    background: white;
    margin-left: 469px;
}

li{
    display: block;
    margin-top: 10px;
    float: left;
    margin-left: 20px;  
}
.sdf{
    font-size: 100px;
}

#bangun{
    margin-left: 240px;
}

#tombol-persegi{
    position: relative;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: rgb(21, 138, 241);
    width: 180px;
    height: 50px;
    border-radius: 30px;
}

#tombol-persegi:hover{
    position: relative;
    box-shadow: 0 0 7px 0px #000000;
    background-color: rgba(21, 138, 241, 0.726);
    transition: 0.3s;
}

#tombol-persegi-panjang{
    position: relative;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: rgb(49, 194, 12);
    width: 180px;
    height: 50px;
    border-radius: 30px;
}
#tombol-persegi-panjang:hover{
    box-shadow: 0 0 7px 0px #000000;
    background-color: rgba(48, 194, 12, 0.651);
    transition: 0.3s;
}

#tombol-segitiga{
    position: relative;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: rgb(191, 194, 12);
    width: 180px;
    height: 50px;
    border-radius: 30px;
}

#tombol-segitiga:hover{
    box-shadow: 0 0 7px 0px #000000;
    background-color: rgba(181, 184, 8, 0.781);
    transition: 0.3s;
}

#tombol-trapesium{
    position: relative;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: rgb(194, 94, 12);
    width: 180px;
    height: 50px;
    border-radius: 30px;
}

#tombol-trapesium:hover{
    box-shadow: 0 0 7px 0px #000000;
    background-color: rgba(187, 88, 7, 0.699);
    transition: 0.3s;
}
#tombol-layang{
    position: relative;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: rgb(188, 12, 194);
    width: 180px;
    height: 50px;
    border-radius: 30px;
}

#tombol-layang:hover{
    box-shadow: 0 0 7px 0px #000000;
    background-color: rgba(191, 13, 197, 0.651);
    transition: 0.3s;
}

/*-------*/
